<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TerraTani"
        tools:targetApi="31">
        <activity
            android:name=".ui.result.ResultCropActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detection.DetectionCropActivity"
            android:exported="false" />
        <activity
            android:name=".ui.result.ResultYieldActivity"
            android:exported="false" />
        <activity
            android:name=".ui.result.ResultFertilizerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detection.PredictionYieldActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detection.DetectionFertilizerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fragments.profile.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fragments.profile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.fragments.profile.ChangeEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme" />
        <activity
            android:name=".ui.result.ResultSoilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detection.DetectionSoilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAlyxDCglfXaJz6BzrUkVNEp7IydVtJ-vg" />
    </application>

</manifest>